<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../../static/social/stylesheets/adminPage.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../scripts/adminPage.js"></script>
</head>
<body>
    <div class="container">
        <div class="user-list inactive-users">
            <h2>Inactive Users</h2>
            <ul id="inactiveUserList">
                <!-- Inactive users will be added here by JavaScript -->
            </ul>
        </div>
        <div class="user-list active-users">
            <h2>Active Users</h2>
            <ul id="activeUserList">
                <!-- Active users will be added here by JavaScript -->
            </ul>
        </div>
    </div>
    <button id="backButton">Back to Dashboard</button>

</body>
</html>
