<!-- This is the homepage -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/homepage.css">
</head>
<body>
    <!-- Header always sticks to top of screen -->
    <div class="header">
        <div class="appLogo">Beeg Yoshi</div>
        <ul class="navLinks">
            <li><a href="">Homepage</a></li>
            <li><a href="">Notifications</a></li>
            <li><a href="">Other Link</a></li>
            <li><a href="">My Profile</a></li>
        </ul>

    </div>

    <!-- Will have 3 columns. The outer 2 are blank for now, but can add stuff in the future (IE: Future modulartiy)-->
    <div class="content">
        <div class="col1">
            This is column 1.
        </div>

        <div class="stream">
            <div class="post">
                This column would contain posts <br> For example, this block is a post.
            </div>
            <div class="post">
                Here's another post<br>
                Note: These divs should be empty, and then dynamically filled with content from the db.
            </div>


        </div>

        <div class="col3">
            This is column 3.
        </div>
    
    </div>

    <!-- Footer -->
    <div class="footer">
        <ul class="footerLinks">
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </div>
    
</body>
</html>