<!-- This is the homepage -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'social/stylesheets/main.css' %}">
    <link rel="stylesheet" href="{% static 'social/stylesheets/homepage.css' %}">
    <link rel="stylesheet" href="../../static/social/stylesheets/homepage.css"> <!-- For development purposes, can delete it later. -->
    <link rel="stylesheet" href="../../static/social/stylesheets/main.css"> <!-- ^ -->

</head>
<body>
    <!-- Header always sticks to top of screen -->
    <div class="header">
        <div class="appLogo">Beeg Yoshi</div>
        <ul class="navLinks">
            <li><a href="">Homepage</a></li>
            <li><a href="">Notifications</a></li>
            <li><a href="">Other Link</a></li>
            <li><a href="">My Profile</a></li>
        </ul>

    </div>

    <!-- Will have 3 columns. The outer 2 are blank for now, but can add stuff in the future (IE: Future modulartiy)-->
    <div class="content">
        <div class="col1">
            This is column 1.
        </div>

        <div class="stream">
            <div class="post"> <!-- Another flex container-->
                <div class="postPfp">
                    PFP
                </div>
                <div class="postContent">
                    This is the content of the post
                </div>
                <div class="postNav">
                    <ul>
                        <li>Like</li>
                        <li>Comment</li>
                        <li>Share</li>
                </ul>
                </div>
            </div>

            <button class="postBtn">
                +
            </button>
        </div>

        <div class="col3">
            This is column 3.
        </div>
    
    </div>

    <!-- Footer -->
    <div class="footer">
        <ul class="footerLinks">
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
        </ul>
    </div>
    
</body>
</html>