<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- import the static stylesheets here -->

    <link rel="stylesheet" href="../../static/social/stylesheets/main.css"> <!-- Development purposes -->
    <link rel="stylesheet" href="../../static/social/stylesheets/notificationPage.css"> <!-- ^ -->
    <title>My Notifcations</title>
</head>
<body>
    <!-- Header always sticks to top of screen -->
    <div class="header">
        <div class="appLogo">Beeg Yoshi</div>
        <ul class="navLinks">
            <li><a href="">Homepage</a></li>
            <li><a href="">Notifications</a></li>
            <li><a href="./socialPage.html">Social</a></li>
            <li><a href="./userProfile.html">My Profile</a></li>
        </ul>
    </div>

    <!-- Will have 3 columns. The outer 2 are blank for now, but can add stuff in the future (IE: Future modulartiy)-->
    <div class="content">
        <div class="col1">
            <h1>Friend Requests</h1> <!-- List of friend requests -->
        </div>

        <div class="stream">
            <h1>Notifications</h1> <!-- Someone has liked your post, someone has commented: ... -->
        </div>

        <div class="col3">
            <h1>Posts shared to you (inbox)</h1> <!-- Someone sent you a post, like tagging someone -->
        </div>
    
    </div>


    <!-- Footer -->
    <div class="footer">
        <ul class="footerLinks">
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
            <button class="log-out" id="logoutBtn">Log out</button>
        </ul>
    </div>
    
</body>
</html>