/* CSS exclusive to the homepage */
body{
    display: flex;
    flex-direction: column;
}



.content .stream .postBtn{
    position: fixed;
    bottom: 75px;
    right: 19%; /* Ensures it sits at the right spot no matter screen size */
    width: 70px;
    height: 60px;

    background: #99e6ff;
    box-shadow: 2px 2px #999;
    border: 1px solid var(--darkText);
    color: var(--darkText);
    border-radius: 16px;

    font-size: 36px;
    text-align: center;
    z-index: 100%; /* Always on top */
}

/* Post. By default its hidden but you add it in if there's posts to show. */
.post {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 70%;
    height: fit-content; /* Size of each post will be the height of the content */
    max-height: 300px; /* But at most, 300px tall */

    margin-bottom: 2rem;
    padding: 16px;
    
    border: 2px solid var(--darkText); /* FOR VISUAL PURPOSES ONLY, DELETE LATER */
    border-radius: 12px;
}

.post .postPfp {
    width: auto;
    height: 65px;
    flex: 0 0 10%; /* Occupies 10% of the post container */
    clip-path: circle();
}

.post .postContent{
    display: flex;
    flex: 0 0 70%;
    border-left: 1px solid var(--darkText);
    padding: 8px;
    border-radius: 6px;
}

.post .postNav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
    flex: 0 0 5%;
    border: 1px solid black;
}

/* Create a post */
dialog::backdrop{
    backdrop-filter: blur(2px); /* Background is blurred when a dialog opens */
}

.createPostModal { /* Style the modal created. NOTE: You can't set this to display: flex otherwise it'll always show no matter what */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    width: 550px;
    height: 400px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 1rem;
}

.createPostModal .modalHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    border-bottom: 1px solid black;
}

.createPostModal #closePostModal{
    position: absolute;
    left: 15px;
    top: 15px;
    width: fit-content;
    padding: 3px;

    border: 1px solid #999;
    box-shadow: 2px 2px #999;
    border-radius: 12px;
    background: var(--softRed);
}

.modalEnterText{ /* the form for submitting to db */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;

    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 70%;
    width: 100%;
}

#postText{
    height: 100%;
    width: 100%;
    resize: none;
    border-radius: 12px;
    padding: 12px;
}

.createPostModal .modalFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 15%;
    padding-top: 1rem;
    border-top: 1px solid var(--darkText);
}

.createPostModal .modalFooter ul{
    display: flex;
    gap: 1rem;
}

.createPostModal .modalFooter img{
    width: 40px;
    height: auto;
}

#submitPostBtn{
    /* Place at bottom right */
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    background: #99e6ff;
    border-radius: 12px;
    width: fit-content;
    padding: 6px;
    border: 1px solid #999;
    border: 1px solid #999;
    box-shadow: 2px 2px #999;
}
