/* Restructured so that all 3 column streams are the same */
/* There'll be "___node" content in each streamCol. */
/* To access specific streamCol's, use the nth-child selector */
.content .streamCol{
    /* Structure */
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    border: 1px solid black;

    /* Styling */
    padding: 1rem;
}

.streamCol h1{
    font-size: 1.5rem;
    text-align: center;
}

/* 1) Friend Request Node */
/* 2) "Liked" Node */
/* 3) "Commented" Node */
/* 4) "sharedToYou" Node */