/* Restructured so that all 3 column streams are the same */
/* There'll be "___node" content in each streamCol. */
/* To access specific streamCol's, use the nth-child selector */
.content{
    overflow: auto; /* make it so when content goes out of each column, it adds a scrollbar */
    padding: 1rem;
}

.content .streamCol{
    /* Structure */
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: auto;
    min-height: min-content;

    /* Styling */
    gap: 1rem; /* Gap between nodes */
    padding: 1rem;
}

.streamCol h1{
    font-size: 1.5rem;
    text-align: center;
}

/* 1) Friend Request Node */
#friendRqNode {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--darkText);
    border-radius: 8px;
    padding: 8px;
    height: 85px;
    background-color: var(--babyBlue);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sender{ /* The sender of the notifcation, this is the text you change depending on the notif / user */
    font-size: 1.15rem; /* Make text a bit bigger */
}

#friendRqNode .genericHolder{
    display: flex;
    gap: 1rem;
}

#friendRqNode #accept{
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    background-color: var(--acceptGreen);
}

#friendRqNode #decline{
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    background-color: var(--softRed);

}
/* 2) "Liked" Node */
#likedNode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid var(--darkText);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#likedIcon, #commentedIcon{
    height: auto;
    width: 20px;
}
/* 3) "Commented" Node */
#commentedNode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid var(--darkText);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* 4) "sharedToYou" Node */
#sharedToYouNode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid var(--darkText);
    border-radius: 8px;
    padding: 8px;
    height: 85px;
    font-size: 1.15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}