<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
    <link rel="stylesheet" href="../../static/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../scripts/signUpPage.js"></script>
</head>
<body>
    <div class="signup-container">
        <h2>Sign up</h2>
        <form id="signupForm">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="displayName">Username:</label>
                <input type="displayName" id="displayName" name="displayName" required>
            </div>
            <div class="input-group">
                <label for="Github">Github:</label>
                <input type="Github" id="Github" name="Github" required>
            </div>
            <button type="submit">Sign up</button>
            

        </form>
        <p><a href="./loginPage.html">Login in </a> if you already have an account.</p>
    </div>
</body>
</html>
